<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - LFC.WebSite</title>

    <environment names="Development">
        @*<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />*@
        <link href="~/themes/css/bootstrap.css" rel="stylesheet">
        <!-- core - css -->
        <link href="~/themes/css/style.css" rel="stylesheet">
        <link href="~/themes/green/core.css" id="bjui-link-theme" rel="stylesheet">
        <link href="~/themes/css/fontsize.css" id="bjui-link-theme" rel="stylesheet">
        <!-- plug - css -->
        <link href="~/plugins/kindeditor_4.1.11/themes/default/default.css" rel="stylesheet">
        <link href="~/plugins/colorpicker/css/bootstrap-colorpicker.min.css" rel="stylesheet">
        <link href="~/plugins/nice-validator-1.0.7/jquery.validator.css" rel="stylesheet">
        <link href="~/plugins/bootstrapSelect/bootstrap-select.css" rel="stylesheet">
        <link href="~/plugins/webuploader/webuploader.css" rel="stylesheet">
        <link href="~/themes/css/FA/css/font-awesome.min.css" rel="stylesheet">
        <!-- Favicons -->
        <link rel="apple-touch-icon-precomposed" href="~/assets/ico/apple-touch-icon-precomposed.png">
        <link rel="shortcut icon" href="~/assets/ico/favicon.png">
        <!--[if lte IE 7]>
    <link href="~/themes/css/ie7.css" rel="stylesheet">
    <![endif]-->
        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lte IE 9]>
        <script src="~/other/html5shiv.min.js"></script>
        <script src="~/other/respond.min.js"></script>
    <![endif]-->
        <!-- jquery -->
        <script src="~/js/jquery-1.11.3.min.js"></script>
        <script src="~/js/jquery.cookie.js"></script>
        <!--[if lte IE 9]>
    <script src="~/other/jquery.iframe-transport.js"></script>
    <![endif]-->
        <!-- ~ -->
        <script src="~/js/bjui-all.min.js"></script>
        <!-- plugins -->
        <!-- swfupload for kindeditor -->
        <script src="~/plugins/swfupload/swfupload.js"></script>
        <!-- Webuploader -->
        <script src="~/plugins/webuploader/webuploader.js"></script>
        <!-- kindeditor -->
        <script src="~/plugins/kindeditor_4.1.11/kindeditor-all-min.js"></script>
        <script src="~/plugins/kindeditor_4.1.11/lang/zh-CN.js"></script>
        <!-- colorpicker -->
        <script src="~/plugins/colorpicker/js/bootstrap-colorpicker.min.js"></script>
        <!-- ztree -->
        <script src="~/plugins/ztree/jquery.ztree.all-3.5.js"></script>
        <!-- nice validate -->
        <script src="~/plugins/nice-validator-1.0.7/jquery.validator.js"></script>
        <script src="~/plugins/nice-validator-1.0.7/jquery.validator.themes.js"></script>
        <!-- bootstrap plugins -->
        <script src="~/plugins/bootstrap.min.js"></script>
        <script src="~/plugins/bootstrapSelect/bootstrap-select.min.js"></script>
        <script src="~/plugins/bootstrapSelect/defaults-zh_CN.min.js"></script>
        <!-- icheck -->
        <script src="~/plugins/icheck/icheck.min.js"></script>
        <!-- HighCharts -->
        <script src="~/plugins/highcharts/highcharts.js"></script>
        <script src="~/plugins/highcharts/highcharts-3d.js"></script>
        <script src="~/plugins/highcharts/themes/gray.js"></script>
        <!-- other plugins -->
        <script src="~/plugins/other/jquery.autosize.js"></script>
        <link href="~/plugins/uploadify/css/uploadify.css" rel="stylesheet">
        <script src="~/plugins/uploadify/scripts/jquery.uploadify.min.js"></script>
        <script src="~/plugins/download/jquery.fileDownload.js"></script>
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.6/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
    <script type="text/javascript">
$(function() {
    BJUI.init({
        JSPATH       : '~/',         //[可选]框架路径
        PLUGINPATH   : '~/plugins/', //[可选]插件路径
        loginInfo    : {url:'login_timeout.html', title:'登录', width:440, height:240}, // 会话超时后弹出登录对话框
        statusCode   : {ok:200, error:300, timeout:301}, //[可选]
        ajaxTimeout  : 300000, //[可选]全局Ajax请求超时时间(毫秒)
        alertTimeout : 3000,  //[可选]信息提示[info/correct]自动关闭延时(毫秒)
        pageInfo     : {total:'totalRow', pageCurrent:'pageCurrent', pageSize:'pageSize', orderField:'orderField', orderDirection:'orderDirection'}, //[可选]分页参数
        keys         : {statusCode:'statusCode', message:'message'}, //[可选]
        ui           : {
                         sidenavWidth     : 220,
                         showSlidebar     : true, //[可选]左侧导航栏锁定/隐藏
                         overwriteHomeTab : false //[可选]当打开一个未定义id的navtab时，是否可以覆盖主navtab(我的主页)
                       },
        debug        : true,    // [可选]调试模式 [true|false，默认false]
        theme        : 'blue' // 若有Cookie['bjui_theme'],优先选择Cookie['bjui_theme']。皮肤[五种皮肤:default, orange, purple, blue, red, green]
    })
    //时钟
    var today = new Date(), time = today.getTime()
    $('#bjui-date').html(today.formatDate('yyyy/MM/dd'))
    setInterval(function() {
        today = new Date(today.setSeconds(today.getSeconds() + 1))
        $('#bjui-clock').html(today.formatDate('HH:mm:ss'))
    }, 1000)
})

/*window.onbeforeunload = function(){
    return "确定要关闭本系统 ?";
}*/

//菜单-事件-zTree
function MainMenuClick(event, treeId, treeNode) {
    if (treeNode.target && treeNode.target == 'dialog' || treeNode.target == 'navtab')
        event.preventDefault()

    if (treeNode.isParent) {
        var zTree = $.fn.zTree.getZTreeObj(treeId)

        zTree.expandNode(treeNode)
        return
    }

    if (treeNode.target && treeNode.target == 'dialog')
        $(event.target).dialog({id:treeNode.targetid, url:treeNode.url, title:treeNode.name})
    else if (treeNode.target && treeNode.target == 'navtab')
        $(event.target).navtab({id:treeNode.targetid, url:treeNode.url, title:treeNode.name, fresh:treeNode.fresh, external:treeNode.external})
}

// 满屏开关
var bjui_index_container = 'container_fluid'

function bjui_index_exchange() {
    bjui_index_container = bjui_index_container == 'container_fluid' ? 'container' : 'container_fluid'

    $('#bjui-top').find('> div').attr('class', bjui_index_container)
    $('#bjui-navbar').find('> div').attr('class', bjui_index_container)
    $('#bjui-body-box').find('> div').attr('class', bjui_index_container)
}
    </script>
    <link href="~/assets/prettify.css" rel="stylesheet">
    <script src="~/assets/prettify.js"></script>
    <link href="~/assets/ZeroClipboard.css" rel="stylesheet">
    <script src="~/assets/ZeroClipboard.js"></script>
</head>

<body>
    <!--[if lte IE 7]>
        <div id="errorie"><div>您还在使用老掉牙的IE，正常使用系统前请升级您的浏览器到 IE8以上版本 <a target="_blank" href="http://windows.microsoft.com/zh-cn/internet-explorer/ie-8-worldwide-languages">点击升级</a>&nbsp;&nbsp;强烈建议您更改换浏览器：<a href="http://down.tech.sina.com.cn/content/40975.html" target="_blank">谷歌 Chrome</a></div></div>
    <![endif]-->
    <div id="bjui-top" class="bjui-header">
        <div class="container_fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed btn" data-toggle="collapsenavbar" data-target="#bjui-top-collapse" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <nav class="collapse navbar-collapse" id="bjui-top-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li class="datetime"><a><span id="bjui-date">2017/11/27</span> <span id="bjui-clock">10:34:00</span></a></li>
                    <li><a href="#">账号：BJUI</a></li>
                    <li><a href="#">角色：管理员</a></li>
                    <li><a href="changepassword.html" data-toggle="dialog" data-id="sys_user_changepass" data-mask="true" data-width="400" data-height="300">修改密码</a></li>
                    <li><a href="~/account/login" style="font-weight:bold;">&nbsp;<i class="fa fa-power-off"></i> 注销登陆</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle bjui-fonts-tit bjui-font-c" data-toggle="dropdown" title="更改字号"><i class="fa fa-font"></i> 中</a>
                        <ul class="dropdown-menu" role="menu" id="bjui-fonts">
                            <li><a href="javascript:;" class="bjui-font-a" data-toggle="fonts"><i class="fa fa-font"></i> 特大</a></li>
                            <li><a href="javascript:;" class="bjui-font-b" data-toggle="fonts"><i class="fa fa-font"></i> 大</a></li>
                            <li><a href="javascript:;" class="bjui-font-c" data-toggle="fonts"><i class="fa fa-font"></i> 中</a></li>
                            <li><a href="javascript:;" class="bjui-font-d" data-toggle="fonts"><i class="fa fa-font"></i> 小</a></li>
                        </ul>
                    </li>
                    <li class="dropdown active">
                        <a href="#" class="dropdown-toggle theme" data-toggle="dropdown" title="切换皮肤"><i class="fa fa-tree"></i></a>
                        <ul class="dropdown-menu" role="menu" id="bjui-themes">
                            <!--
                            <li><a href="javascript:;" class="theme_default" data-toggle="theme" data-theme="default">&nbsp;<i class="fa fa-tree"></i> 黑白分明&nbsp;&nbsp;</a></li>
                            <li><a href="javascript:;" class="theme_orange" data-toggle="theme" data-theme="orange">&nbsp;<i class="fa fa-tree"></i> 橘子红了</a></li>
                            -->
                            <li><a href="javascript:;" class="theme_purple" data-toggle="theme" data-theme="purple">&nbsp;<i class="fa fa-tree"></i> 紫罗兰</a></li>
                            <li class="default theme blue"><a href="javascript:;" class="theme_blue" data-toggle="theme" data-theme="blue">&nbsp;<i class="fa fa-tree"></i> 天空蓝</a></li>
                            <li class="active"><a href="javascript:;" class="theme_green" data-toggle="theme" data-theme="green">&nbsp;<i class="fa fa-tree"></i> 绿草如茵</a></li>
                        </ul>
                    </li>
                    <li><a href="javascript:;" onclick="bjui_index_exchange()" title="横向收缩/充满屏幕"><i class="fa fa-exchange"></i></a></li>
                </ul>
            </nav>
        </div>
    </div>
    <header class="navbar bjui-header" id="bjui-navbar">
        <div class="container_fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed btn" id="bjui-navbar-collapsebtn" data-toggle="collapsenavbar" data-target="#bjui-navbar-collapse" aria-expanded="false">
                    <i class="fa fa-angle-double-right"></i>
                </button>
                <a class="navbar-brand" href="http://b-jui.com"><img src="../images/logo.png" height="30"></a>
            </div>
            <nav class="collapse navbar-collapse" id="bjui-navbar-collapse" style="left: 20px;">
                <ul class="nav navbar-nav navbar-right" id="bjui-hnav-navbar">
                    <li class="active">
                        <a href="~/Menu/Work" data-toggle="sidenav" data-id-key="targetid">工作相关</a>
                    </li>
                    <li>
                        <a href="~/Menu/Life" data-toggle="sidenav" data-id-key="targetid">生活相关</a>
                    </li>
                    <li>
                        <a href="~/Menu/Study" data-toggle="sidenav" data-id-key="targetid">学习相关</a>
                    </li>
                    <li>
                        <a href="~/Menu/Game" data-toggle="sidenav" data-id-key="targetid">娱乐相关</a>
                    </li>
                </ul>
            </nav>
        </div>
    </header>
    <div id="bjui-body-box">
        <div class="container_fluid" id="bjui-body">
            <div id="bjui-sidenav-col" style="width: 222px; left: 0px;">
                <div id="bjui-sidenav" style="height: 214px;">
                    <div id="bjui-sidenav-arrow" data-toggle="tooltip" data-placement="left" data-title="隐藏左侧菜单" data-original-title="" title="">
                        <i class="fa fa-long-arrow-left"></i>
                    </div>
                    <div id="bjui-sidenav-box">

                    </div>
                </div>
            </div>
            <div id="bjui-navtab" class="tabsPage" style="margin-left: 235px;">
                <div id="bjui-sidenav-btn" data-toggle="tooltip" data-title="显示左侧菜单" data-placement="right" data-original-title="" title="" style="display: none;">
                    <i class="fa fa-bars"></i>
                </div>
                @RenderBody()
                
            </div>
        </div>
    </div>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="~/other/ie10-viewport-bug-workaround.js"></script>
    @RenderSection("scripts", required: false)
    <!-- contextmenu --><div id="bjui-contextmenu" style="display: none;"></div><div id="bjui-contextmenuShadow" style="display: none;"></div><!-- dialog resizable --><div id="bjui-resizable" class="bjui-resizable"></div><!-- dialog task bar --><div id="bjui-taskbar" style="left:0px; display:none;">    <div class="taskbarContent">        <ul></ul>    </div>    <div class="taskbarLeft taskbarLeftDisabled"><i class="fa fa-angle-double-left"></i></div>    <div class="taskbarRight"><i class="fa fa-angle-double-right"></i></div></div><!-- alert msg box --><!-- alert msg box mask bg --><div class="bjui-alertBackground" style="display: none;"></div><!-- datepicker --><div id="bjui-calendar" style="display: none;">    <div class="main">        <a class="close" href="javascript:;" title="关闭"><i class="fa fa-times-circle"></i></a>        <div class="head">            <table width="100%" border="0" cellpadding="0" cellspacing="2">                <tbody><tr>                    <td width="20"><a class="prev" href="javascript:;" title="上月"><i class="fa fa-arrow-left"></i></a></td>                    <td><select name="year"></select></td>                    <td><select name="month"><option value="1">一月</option><option value="2">二月</option><option value="3">三月</option><option value="4">四月</option><option value="5">五月</option><option value="6">六月</option><option value="7">七月</option><option value="8">八月</option><option value="9">九月</option><option value="10">十月</option><option value="11">十一月</option><option value="12">十二月</option></select></td>                    <td width="20"><a class="next" href="javascript:;" title="下月"><i class="fa fa-arrow-right"></i></a></td>                </tr>            </tbody></table>        </div>        <div class="body">            <dl class="dayNames"><dt>日</dt><dt>一</dt><dt>二</dt><dt>三</dt><dt>四</dt><dt>五</dt><dt>六</dt></dl>            <dl class="days"><!-- date list --></dl>            <div style="clear:both;height:0;line-height:0"></div>        </div>        <div class="foot">            <table class="time">                <tbody><tr>                    <td>                        <input type="text" class="hh form-control" maxlength="2" data-type="hh" data-start="0" data-end="23">:<input type="text" class="mm form-control" maxlength="2" data-type="mm" data-start="0" data-end="59">:<input type="text" class="ss form-control" maxlength="2" data-type="ss" data-start="0" data-end="59">                    </td>                    <td><ul><li class="up" data-add="1">∧</li><li class="down">∨</li></ul></td>                </tr>            </tbody></table>            <button type="button" class="clearBtn btn btn-orange">清空</button>            <button type="button" class="okBtn btn btn-default">确定</button>        </div>        <div class="tm">            <ul class="hh">                <li>0</li>                <li>1</li>                <li>2</li>                <li>3</li>                <li>4</li>                <li>5</li>                <li>6</li>                <li>7</li>                <li>8</li>                <li>9</li>                <li>10</li>                <li>11</li>                <li>12</li>                <li>13</li>                <li>14</li>                <li>15</li>                <li>16</li>                <li>17</li>                <li>18</li>                <li>19</li>                <li>20</li>                <li>21</li>                <li>22</li>                <li>23</li>            </ul>            <ul class="mm">                <li>0</li>                <li>5</li>                <li>10</li>                <li>15</li>                <li>20</li>                <li>25</li>                <li>30</li>                <li>35</li>                <li>40</li>                <li>45</li>                <li>50</li>                <li>55</li>            </ul>            <ul class="ss">                <li>0</li>                <li>10</li>                <li>20</li>                <li>30</li>                <li>40</li>                <li>50</li>            </ul>        </div>    </div></div><div id="global-zeroclipboard-html-bridge" class="global-zeroclipboard-container" style="position: absolute; left: 0px; top: -9999px; width: 15px; height: 15px; z-index: 999999999;">      <object classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" id="global-zeroclipboard-flash-bridge" width="100%" height="100%">         <param name="movie" value="assets/ZeroClipboard.swf?noCache=1511749447597">         <param name="allowScriptAccess" value="never">         <param name="scale" value="exactfit">         <param name="loop" value="false">         <param name="menu" value="false">         <param name="quality" value="best">         <param name="bgcolor" value="#ffffff">         <param name="wmode" value="transparent">         <param name="flashvars" value="">         <embed src="assets/ZeroClipboard.swf?noCache=1511749447597" loop="false" menu="false" quality="best" bgcolor="#ffffff" width="100%" height="100%" name="global-zeroclipboard-flash-bridge" allowscriptaccess="never" allowfullscreen="false" type="application/x-shockwave-flash" wmode="transparent" pluginspage="http://www.macromedia.com/go/getflashplayer" flashvars="" scale="exactfit">                </object></div><div id="bjui-alertMsgBox" class="bjui-alert" style="top: -148px; display: none;"></div>
</body>
</html>
