@{
    ViewData["Title"] = "Home Page";
}

<div class="tabsPageHeader">
    <div class="tabsPageHeaderContent">
        <ul class="navtab-tab nav nav-tabs" style="left: 0px;">
            <li class="active"><a href="javascript:;"><span><i class="fa fa-home"></i> 我的主页</span></a></li>
        </ul>
    </div>
    <div class="tabsLeft" style="display: none;"><i class="fa fa-angle-double-left"></i></div>
    <div class="tabsRight" style="display: none;"><i class="fa fa-angle-double-right"></i></div>
    <div class="tabsMore"><i class="fa fa-angle-double-down"></i></div>
</div>
<ul class="tabsMoreList" style="display: none;">
    <li class="active"><a href="javascript:;">我的主页</a></li>
</ul>
<div class="navtab-panel tabsPageContent" style="height: 177px;">
    <div class="navtabPage unitBox" style="top: 0px;">
        <div class="bjui-pageContent">
            test
        </div>
    </div>
</div>